/* src/styles/Prodotto.css */
.prodotto-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .prodotto-background {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .sfondo-prodotto {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .product-image {
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 40%;
    z-index: 2;
  }
  
  @media (max-width: 768px) {
    .product-image {
      width: 80%;
      
  }
  .sfondo-prodotto {
    width: 200%;
    height: auto;
    display: block;
   
  }
  .product-image {
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 70%;
    z-index: 2;
  }
  
  @media (max-width: 480px) {
    .product-image {
      width: 70%;
    }
  }

}