/* src/components/SectionIngredienti.css */
.section-ingredienti {
  position: relative;
  margin: 20px auto;
  font-family: 'Termina', sans-serif;
  z-index: 2; /* Ensure section ingredienti is above noise overlay */
  padding: 20px;
}

.ingredienti-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.ingredienti-shape-container {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.ingredienti-shape {
  width: 100px;
  height: auto;
}

.shape-text {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
  text-align: center;
}

.ingredienti-main-title {
  font-size: 1.5em;
  font-weight: bold;
}

.highlight {
  color: #ff6600;
}

.ingredienti-description {
  margin-top: 10px;
  font-size: 1em;
  text-align: justify; /* Justifica il testo */
}

.section-ingredienti h1 {
  font-size: 2.5em;
  margin-bottom: 70px;
  color: #ff5c35; /* Colore arancione per il titolo */
  text-transform: uppercase; /* Maiuscolo */
  font-weight: 800; /* Peso del font 800 */
  text-align: center; /* Center text */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .section-ingredienti {
    padding: 40px 20px; /* Add padding for smaller screens */
  }

  .ingredienti-shape-container,
  .ingredienti-main-title,
  .highlight,
  .ingredienti-description,
  .ingredienti-icon,
  .ingredienti-subtitle,
  .ingredienti-text {
    margin-bottom: 10px;
  }

  .ingredienti-shape-container {
    margin-bottom: 20px; /* Add margin bottom to the orange shape */
  }

  .ingredienti-shape-container,
  .ingredienti-main-title,
  .highlight,
  .ingredienti-description {
    display: block;
    text-align: center;
  }

  .ingredienti-icon,
  .ingredienti-subtitle,
  .ingredienti-text {
    display: block;
    text-align: center;
  }
}
