.header {
  background-color: #fff; /* Sfondo bianco */
  position: relative;
  height: 100vh; /* Imposta l'altezza secondo le tue esigenze */
  overflow: hidden;
}

.svg-container {
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1; /* Aggiungi z-index per sovrapporre correttamente */
}

.wave {
  display: block;
  height: auto;
  z-index: 2; /* Assicurati che l'SVG abbia uno z-index superiore al background */
}

/*@keyframes moveWave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}*/

/* Media query per schermi più piccoli */
@media (max-width: 768px) {
  .header {
    height: auto; /* Permetti all'header di adattarsi al contenuto */
  }

  .svg-container {
    height: auto; /* Permetti al contenitore SVG di adattarsi al contenuto */
    bottom: 0; /* Mantieni l'SVG in basso */
  }

  .wave {
    height: auto; /* Permetti all'SVG di adattarsi al contenitore */
    min-height: 100vh; /* Assicurati che l'SVG copra almeno l'altezza della viewport */
  }
}