.navbar {
  background: transparent; /* Navbar trasparente */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3; /* Navbar sopra l'SVG */
  padding: 1rem;
  transition: background-color 0.3s, padding 0.3s;
}

.navbar.opaque {
  background: rgba(8, 55, 140, 0.9); /* Sfondo opaco */
}

.navbar.shrink {
  padding: 0.5rem;
}

.nav-link {
  color: #ff5c35 !important;
  margin: 0 1rem;
  transition: font-size 0.3s, padding 0.3s;
  font-weight: 700;
}

.nav-link.shrink {
  font-size: 0.9rem;
}

.navbar-brand img {
  height: 30px; /* Dimensione del logo */
  transition: height 0.3s;
}

.navbar-brand img.shrink {
  height: 20px; /* Dimensione del logo ridotta */
}

.sub-link {
  font-size: 0.75rem;
  font-weight: 500;
  color: #ff5c35;
  display: block;
  margin-top: -5px;
  transition: font-size 0.3s;
}

.navbar.shrink .sub-link {
  font-size: 0.65rem;
}

/* Media Query per il responsive design */
@media (max-width: 768px) {
  .navbar-brand img {
    height: 30px; /* Dimensione del logo ridotta per schermi piccoli */
  }

  .navbar-brand img.shrink {
    height: 20px; /* Dimensione del logo ancora più ridotta */
  }

  .nav-link {
    margin: 0 0.5rem; /* Riduci il margine tra i link per schermi piccoli */
  }

  .nav-link.shrink {
    font-size: 0.8rem;
  }

  .sub-link {
    font-size: 0.6rem;
  }

  .navbar.shrink .sub-link {
    font-size: 0.5rem;
  }
}