/* SectionContent.css */

.section-content {
  position: relative;
  padding: 60px 20px; /* Adjust as needed */
  overflow: hidden;
}

.section-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px; /* Center image and add bottom margin */
  max-height: 800px; /* Adjust the maximum height */
}

.section-paragraph {
  font-size: 1.5rem; /* Increase font size */
  line-height: 1.6;
}

.paragraph-line {
  opacity: 0.5; /* Initial opacity */
  transform: translateX(-50px); /* Initial slide position */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition */
}

.paragraph-line.in-view {
  opacity: 1;
  transform: translateX(0);
}

.section-icons-ellipse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.section-icons {
  display: flex;
  gap: 20px;
}

.icon {
  width: 50px;
  height: 50px;
}



/* Media queries for responsive design */
@media (max-width: 768px) {
  .section-paragraph {
    font-size: 1.2rem;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .ellipse {
    padding: 5px 10px;
  }

  .section-image {
    max-height: 200px; /* Adjust the maximum height for smaller screens */
  }
}
